{% extends 'base.html' %}

{% block body %}
    <section class='home-section'>
        <h1>Hello, Welcome to Couch Critique.</h1>
        <p>Couch Critique is a web-application that let's users write movie reviews,
        keep track of movies that they've seen, and subscribe to other users/movie genres
        for a personalize review/movie feed. This is the admin version of the site that
        allows an adminstrator to manage all of those tables.
        </p>
    </section>
    <section class='home-section'>
        <h1>Link to each table:</h1>
        <h2><a href='/admin/users'>Users</a></h2>
        <h2><a href='/admin/movies'>Movies</a></h2>
        <h2><a href='/admin/reviews'>Reviews</a></h2>
        <h2><a href='/admin/followings'>Followings</a></h2>
        <h2><a href='/admin/watched_movies'>Watched Movies</a></h2>
        <h2><a href='/admin/genres'>Genres</a></h2>
        <h2><a href='/admin/subscribed_genres'>Subscribed Genres</a></h2>
    </section>
{% endblock %}
